.title {
    color: var(--brand-color-main);
}

.textAreaBox {
    background: linear-gradient(140deg, #fafafa 0%, #e9e8e8 100%);
    box-shadow: #a5a5a5 0 10px 20px -10px;
    border-radius: 2vw;
}

.textArea {
    height: 40vh;
    width: 90vw;
}

.tituloterciario {
    font-size: 10px;
    padding-left: 21px;
    padding-right: 20px;
}

.titulosecundario h6 {
    margin-bottom: 0vh;
}

.privateChoiceBox {
    width: 90vw;
    --background: linear-gradient(140deg, #fafafa 0%, #e9e8e8 100%);
    border-radius: 2vw;
    box-shadow: #a5a5a5 0 10px 20px -10px;
}

.sendButton {
    width: 40vw;
    --background: linear-gradient(92.04deg, #4d5bdb 0%, var(--brand-color-main) 100%);
    --border-radius: 2vw;
    --box-shadow: #2020d8 0 10px 20px -10px;
}

ion-toast {
    --max-height: 8vh;
}

