@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    font-family: 'Inter', sans-serif !important;
}
IonLabel .titulosecundario {
 --color: #6D6D6D;
}
IonLabel .titulo {
    --color: #1E1E1E;
}

.newsCard {
    background: linear-gradient(120deg, #fafafa 0%, #e9e8e8 100%);
    box-shadow: #b8b8b8 0 10px 20px -10px;
}