.textAreaBox {
    background: linear-gradient(140deg, #fafafa 0%, #e9e8e8 100%);
    box-shadow: #a5a5a5 0px 10px 20px -10px;
    border-radius: 2vw;
}

.textArea {
    width: 90vw;
}

textarea {
    padding-bottom: 0 !important;
}

.loginButton {
    width: 40vw;
    --background: linear-gradient(92.04deg, #4d5bdb 0%, var(--brand-color-main) 100%);
    --border-radius: 2vw;
    --box-shadow: #2020d8 0 10px 20px -10px;
}